[workspace]

members = [
    "frostsnap_core",
    "device",
    "coordinator-cli",
    "frostsnap_coordinator",
    "frostsnap_comms",
    "frostsnapp/native",
]
resolver = "2"


[workspace.dependencies]
bincode = {  version = "2.0.0-rc.3", features = ["serde", "alloc", "derive"], default-features = false }
serde = { version = "1", features = ["derive","alloc"], default-features = false }
frostsnap_core = { path = "frostsnap_core", default-features = false }
frostsnap_comms = { path = "frostsnap_comms", default-features = false }
frostsnap_coordinator = { path = "frostsnap_coordinator" }
tracing = { version = "0.1" }
llsdb = { git = "https://github.com/LLFourn/llsdb.git" }
rand_chacha = { version = "0.3", default-features = false }
