[package]
name = "frostsnap_core"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
rand_core = { version = "0.6", default-features = false }
schnorr_fun = { git = "https://github.com/llfourn/secp256kfun.git", rev = "de2f2f3870e0281248f10ba39f2021e0bdd75bda", features = ["serde", "alloc"], default-features = false }
rand_chacha = { version = "0.3", default-features = false }
sha2 = {  version = "0.10", default-features = false }
chacha20 = { version = "0.9", default-features = false }
serde = { version = "1", features = ["derive"], default-features = false }

[features]
std = []
default = ["std"]
efault = ["std"]
