CONFIG_IDF_TARGET="esp32c3"
CONFIG_SECURE_BOOT=y
CONFIG_SECURE_BOOT_V2_ENABLED=y
CONFIG_SECURE_BOOT_BUILD_SIGNED_BINARIES=n
CONFIG_SECURE_SIGNED_ON_BOOT_NO_SECURE_BOOT=n
CONFIG_SECURE_BOOT_INSECURE=y
CONFIG_SECURE_BOOT_V2_ALLOW_EFUSE_RD_DIS=y
CONFIG_SECURE_BOOT_ALLOW_UNUSED_DIGEST_SLOTS=y
CONFIG_SECURE_DISABLE_ROM_DL_MODE=y
CONFIG_BOOTLOADER_APP_ROLLBACK_ENABLE=y
CONFIG_BOOTLOADER_APP_ANTI_ROLLBACK=y
CONFIG_BOOTLOADER_COMPILER_OPTIMIZATION_SIZE=y
CONFIG_BOOTLOADER_WDT_ENABLE=y
CONFIG_PARTITION_TABLE_OFFSET=0xD000
CONFIG_ESPTOOLPY_FLASHSIZE_4MB=y
CONFIG_BOOTLOADER_COMPILE_TIME_DATE=n
CONFIG_BOOT_ROM_LOG_ALWAYS_OFF=y
CONFIG_BOOTLOADER_LOG_LEVEL_NONE=y
