[package]
name = "frostsnap_device"
version = "0.1.0"
authors = ["nickfarrow <nick@nickfarrow.com>"]
edition = "2021"

[features]
blue = ["air101", "air101-r225"]
ai-042c3 = ["rgb-led", "dep:display-interface", "dep:ssd1306"]
air101 = [
    "dep:display-interface-spi", 
    "dep:mipidsi", 
    "dep:embedded-graphics-framebuf"
]
air101-r225 = []
air101-r2223 = []
rgb-led = ["dep:esp-hal-smartled", "dep:smart-leds"]
purple = [ "dep:ssd1306", "dep:display-interface-spi", "dep:display-interface", "dep:esp-hal-smartled", "dep:smart-leds" ]

[dependencies]
frostsnap_core = { path = "../frostsnap_core", default-features = false }
frostsnap_comms = { path = "../frostsnap_comms", default-features = false }
# esp32c3-hal = { git = "https://github.com/esp-rs/esp-hal.git", rev = "a0b72bdfa5a07a6c9387e4658b0d5c87f254d8ea" }
esp32c3-hal = "0.9.0"
esp-alloc = "0.3.0"
esp-backtrace = { version = "0.7.0", features = ["esp32c3", "print-jtag-serial"] }
esp-println       = { version = "0.5.0", default-features = false, features = ["esp32c3", "jtag_serial"] }
critical-section = "1.1.1"
nb = "1.1.0"
fugit = "0.3.6"
embedded-storage = "0.3.0"
esp-storage = { version = "0.1.0", features = ["esp32c3"] }
bincode = { version = "2.0.0-rc.3", default-features = false, features = ["alloc", "derive", "serde"] }

display-interface = { version = "0.4.1", optional = true }
ssd1306 = { version = "0.7.1", optional = true }

display-interface-spi = { version = "0.4.1", optional = true }  
mipidsi = { version = "0.6.0", features = ["batch"], optional = true }

embedded-graphics-framebuf = { version = "0.2.0", optional = true }
embedded-graphics = "0.7.1"
embedded-text = "0.5.0"

esp-hal-smartled  = { version = "0.2.0", features = ["esp32c3"], optional = true }
smart-leds        = { version = "0.3.0", optional = true }


[[bin]]
name = "purple"
required-features = ["purple"]

[[bin]]
name = "blue"
required-features = ["blue"]
