# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release
/android/app/.cxx/

# Gradle build reports
/android/build/

# avoid commiting the generated code
lib/src/rust/*
!lib/src/rust/.gitkeep
rust/src/frb_generated.rs

/rust_builder/build/
/rust_builder/.dart_tool/
/rust_builder/pubspec.lock

# Used so we can check if we need to re-run bindings regeneration
binding-rerun.sha256

*.AppImage
appimage/AppDir/*
appimage/linuxdeploy

# macOS DMG files
*.dmg
