name: Frostsnap CI

on:
  push:
    branches:
      - master
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  build-device-firmware:
    name: Build Device Firmware
    runs-on: ubuntu-latest
    env:
      RISCV_VERSION: "2024.09.03-nightly"
    strategy:
      matrix:
        board: ["dev", "frontier"]
    defaults:
      run:
        working-directory: ./device
    steps:
      - uses: actions/checkout@v4
      - uses: taiki-e/install-action@just
      - uses: ./.github/actions/fetch-cargo-deps
      - uses: "./.github/actions/install-cargo-bins"
      - name: Setup | RISCV GCC
        run: just fetch-riscv ${{env.RISCV_VERSION}}
      - name: Add RISC-V GCC to PATH
        run: echo "PATH=$PATH:${GITHUB_WORKSPACE}/riscv/bin" >> $GITHUB_ENV

      - uses: dtolnay/rust-toolchain@stable
        with:
          targets: riscv32imc-unknown-none-elf
          components: rustfmt, clippy

      - uses: "./.github/actions/cache-rust-target"
        with:
          key: "build-device-firmware-v0"
          path: "target/riscv32imc-unknown-none-elf/release"

      - run: just lint-device --release --locked
      - run: just build-device ${{ matrix.board }} --locked
      - run: just save-image ${{ matrix.board }}
      - uses: "./.github/actions/upload-artifact"
        with:
          name: frostsnap-${{ matrix.board }}-${{ github.sha }}.bin
          path: target/riscv32imc-unknown-none-elf/release/firmware.bin

  test-ordinary-libs:
    name: Test ordinary libraries
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: taiki-e/install-action@just
      - uses: dtolnay/rust-toolchain@stable
        with:
          components: rustfmt, clippy
      - uses: "./.github/actions/fetch-cargo-deps"
        # Restore bridge files just so we can test/lint native
      - uses: "./.github/actions/generate-frb"
      - uses: "./.github/actions/cache-rust-target"
        with:
          key: "test-ordinary-libs-v0"

      - run: just lint-ordinary --release --locked
      - run: just test-ordinary --release --all-features --locked

  app-build-android:
    name: "Build app for Android"
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
    needs: ["build-device-firmware"]
    steps:
      - uses: actions/checkout@v4
      - name: Download firmware
        uses: actions/download-artifact@v4
        with:
          name: frostsnap-dev-${{ github.sha }}.bin
          path: firmware
      - uses: "./.github/actions/build-android"
        with:
          firmware_path: firmware/firmware.bin
      - name: Upload APK (Android)
        uses: "./.github/actions/upload-artifact"
        with:
          friendly: "Frostsnap.apk"
          description: "Frostsnap for android"
          name: Frostsnap-${{ github.sha }}.apk
          path: frostsnapp/build/app/outputs/flutter-apk/app-direct-release.apk
      - name: Upload App Bundle (Android)
        uses: "./.github/actions/upload-artifact"
        with:
          name: frostsnapp-${{ github.sha }}.aab
          path: frostsnapp/build/app/outputs/bundle/playstoreRelease/app-playstore-release.aab

  app-build-linux:
    needs: ["build-device-firmware"]
    strategy:
      fail-fast: false
    name: "Build app for Linux"
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4
      - name: Download firmware
        uses: actions/download-artifact@v4
        with:
          name: frostsnap-dev-${{ github.sha }}.bin
          path: firmware
      - uses: "./.github/actions/build-linux"
        with:
          firmware_path: firmware/firmware.bin
      - uses: "./.github/actions/upload-artifact"
        with:
          name: Frostsnap-${{ github.sha }}-linux-x64
          path: frostsnapp/build/linux/x64/release/bundle
      - name: Check Cargo.lock not dirty
        run: git diff --exit-code Cargo.lock

  app-image:
    name: Package AppImage
    needs: ["app-build-linux"]
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4
      - uses: actions/download-artifact@v4
        with:
          name: Frostsnap-${{ github.sha }}-linux-x64
          path: frostsnapp/build/linux/x64/release/bundle
      - uses: taiki-e/install-action@just
      - run: just frostsnapp/build-appimage

      - name: Upload AppImage
        uses: "./.github/actions/upload-artifact"
        with:
          friendly: Frostsnap.AppImage
          description: "AppImage for x86_64 Linux"
          name: Frostsnap-${{ github.sha }}-x64.AppImage
          path: frostsnapp/Frostsnap-x86_64.AppImage

  app-build-windows:
    name: "Build app for Windows"
    needs: ["build-device-firmware"]
    strategy:
      fail-fast: false
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4
      - name: Download firmware
        uses: actions/download-artifact@v4
        with:
          name: frostsnap-dev-${{ github.sha }}.bin
          path: firmware
      - uses: "./.github/actions/build-windows"
        with:
          firmware_path: firmware/firmware.bin
      - uses: "./.github/actions/upload-artifact"
        with:
          name: Frostsnap-${{ github.sha }}-windows
          path: frostsnapp/build/windows/x64/runner/Release

  app-build-macos:
    name: "Build app for macOS"
    needs: ["build-device-firmware"]
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v4
      - name: Download firmware
        uses: actions/download-artifact@v4
        with:
          name: frostsnap-dev-${{ github.sha }}.bin
          path: firmware
      - uses: "./.github/actions/build-macos"
        with:
          firmware_path: firmware/firmware.bin
      - uses: "./.github/actions/upload-artifact"
        with:
          friendly: Frostsnap.app
          description: "Frostsnap for macOS (Intel and Apple Silicon)"
          name: Frostsnap-${{ github.sha }}-macos.app
          path: frostsnapp/build/macos/Build/Products/Release/Frostsnap.app

  flutter-analyze:
    name: Flutter Analyze
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: "./.github/actions/generate-frb"
      - uses: "./.github/actions/fetch-dart-deps"

      - uses: subosito/flutter-action@v2
        with:
          channel: stable
          cache: true

      - uses: taiki-e/install-action@just
      - run: dart format --version
      - run: just lint-app
